

.upcoming {
    display: flex;
    padding-top: 5vh;
    padding-left: 10vw;
}

.profileName {
    display: flex;
    justify-content: flex-end;
    align-content: end;
    padding-top: 15vh;
    padding-right: 3vw;
    color: #1c788f;
}

.deleteBtn {
    color: #1c788f;
    border: 1px solid #1c788f;
    border-radius: 10px;
    background-color: #e3e2e1;
    padding: 3px 5px;
}

.updateBtn {
    color: #1c788f;
    border: 1px solid #1c788f;
    background-color: #e3e2e1;
    border-radius: 10px;
    padding: 3px 5px;
    text-decoration: none;
}