.LoginPage{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25vh;
    background-color: #e3e2e1;
    opacity: 90%;

}

.form-control {
    border: 1px solid;
}

.loginTitle {
    padding-bottom: 2vh;
}

.loginBtn {
    margin-top: 1vh;
    margin-left: 5vh;
    border: 1px solid #CED0CA;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.form-group {
    margin: 15px;
}

  