@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');


body {
  margin: 0;
  font-family: 'Piazzolla', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E3E2E1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
